= partial 'partials/header'

= partial 'partials/teams'

= partial 'partials/schedule'

= partial 'partials/venues'

= partial 'partials/hotel'

= partial 'partials/sponsors'

/ = partial 'partials/organizers'
/
/ = partial 'partials/about'
/ 
= partial 'partials/contact-us'
